<div class="row"  >
	<div class="container">

		<!-- Modal -->
		<div class="modal fade" id="myModal" role="dialog">
			<div class="modal-dialog">
           Please wait you will be redirected to {{clientName}} momentarily.
				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" ng-click="resOwnerDeniesAccess();" >&times;</button>
						<div style="text-align: center; width: 100%;">
							<img src="/app/img/cbd-spine.png" class=" img-circle" alt="SCBD" style="width:75px; height:75px; border:5px solid pink; float:left;">
							<img src="/app/img/logo1.png" class="img-circle" alt="UNSSC" style="width:75px; height:75px; border:5px solid pink; float:left;">
						</div>
						<br>
						<br>
						<br>
						<br>
						<br>
						<h4 class="modal-title">{{clientName}} would like to access the following information on your SCBD account:</h4>
					</div>
					<div class="modal-body">
						<p>
							<ul>
								<li ng-repeat="scopeName in scopeArray track by $index">{{scopeName.substring(0,1).toUpperCase()+scopeName.substring(1)}}</li>
							</ul>
						</p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" ng-click="resOwnerDeniesAccess();">Deny</button>
						<button type="submit" class="btn  btn-primary" ng-click="authorize();">Allow</button>
					</div>
				</div>
				<!-- Modal content-->
			</div>
		</div>

	</div>

	<div class="clearfix"></div>
