<div class="row" id="users-id">
	<div class="col-md-10 col-sm-12">
		<h1 ng-hide="document.UserID">Create a new user profile</h1>
		<h1 ng-show="document.UserID">Update a user profile</h1>

        <div ng-switch="error.code" ng-cloak ng-show="error">

    		<div ng-switch-when="mandatory" class="alert alert-warning">
    			<strong>Mandatory!</strong>
    			<div>One or more mandatory fields not set.</div>
    		</div>

    		<div ng-switch-when="email" class="alert alert-warning">
    			<strong>Email address!</strong>
    			<div>Email format is invalid.</div>
    		</div>

    		<div ng-switch-when="emailExists" class="alert alert-warning">
    			<strong>Email address!</strong>
    			<div>Email address already in use.</div>
    		</div>

    		<div ng-switch-when="forbidden" class="alert alert-warning">
    			<strong>Authorization error!</strong>
    			<div>Your are not authorized to perform this action.</div>
    		</div>

    		<div ng-switch-default class="alert alert-danger">
    			<strong>Unmanaged error has occurred...</strong>
    			<div>{{error.message||error}}</div>
    		</div>

        </div>

		<div ng-show="status=='loading'"><em>Loading...</em></div>

		<div ng-hide="status=='hidden'||status=='loading'">
			<form name="form" role="form"  novalidate>

				<div class="panel panel-default panel-identity">
					<div class="panel-body">
						<div class="row">
							<div class="col-sm-2 col-xs-4">
								<div class="form-group">
									<label for="title">Salutation</label>
									<input type="text" class="form-control" id="title" ng-model="document.Title">
								</div>
							</div>
							<div class="clearfix visible-xs"></div>
							<div class="col-sm-5 col-xs-12">
								<div class="form-group" ng-class="{ 'has-warning': form.firstName.$invalid }">
									<label for="firstName" required>First name</label>
									<input type="text" class="form-control" name="firstName" id="firstName" ng-model="document.FirstName" required>
							        <p class="help-block error" ng-show="form.firstName.$invalid && !form.firstName.$error.email">This field is mandatory</p>
								</div>
							</div>
							<div class="col-sm-5 col-xs-12">
								<div class="form-group" ng-class="{ 'has-warning': form.lastName.$invalid }">
									<label for="lastName" required>Last name</label>
									<input type="text" class="form-control" name="lastName" id="lastName" ng-model="document.LastName" required>
				                    <p class="help-block error" ng-show="form.lastName.$invalid && !form.lastName.$error.email">This field is mandatory</p>
								</div>
							</div>
						</div>

						<div class="form-group">
							<label for="designation">Job title</label>
							<input type="text" class="form-control" id="designation" ng-model="document.Designation">
						</div>

						<div class="form-group">
							<label for="department">Department</label>
							<input type="text" class="form-control" id="department" ng-model="document.Department">
						</div>
						<div class="form-group" ng-class="{ 'has-warning': form.organization.$invalid }">
							<label for="organization" required>Organization</label>
							<input type="text" class="form-control" name="organization" id="organization" ng-model="document.Organization" required>
							<p class="help-block error" ng-show="form.organization.$invalid && !form.organization.$error.email">This field is mandatory</p>
						</div>

					</div>
				</div>

				<div class="panel panel-default panel-address">
					<div class="panel-body">
						<div class="row">
							<div class="col-sm-6">
								<div class="form-group">
									<label for="address">Address</label>
									<textarea rows="3" class="form-control" id="address" ng-model="document.Address"></textarea>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="form-group">
									<label for="city">City</label>
									<input type="text" class="form-control" id="city" ng-model="document.City">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-6">
								<div class="form-group">
									<label for="state">State / Province / Region</label>
									<input type="text" class="form-control" id="state" ng-model="document.State">
								</div>
							</div>
							<div class="col-sm-4">
								<div class="form-group">
									<label for="zip">Postal / Zip code</label>
									<input type="text" class="form-control" id="zip" ng-model="document.Zip">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12">
								<div class="form-group">
									<label>Country</label>
									<div><select class="form-control" ng-model="document.Country" ng-options="c.code as c.name for c in countries"></select></div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="panel panel-default panel-coordinates">
					<div class="panel-body">
						<div class="help-block">Please use the following format: +[country code] [city code] [telephone number] [extension, if necessary].</div>
						<div class="row">
							<div class="col-sm-6 col-xs-12">
								<div class="form-group">
									<label>Phone numbers</label>
									<forms-input-list ng-model="phones" icon="fa-phone"></forms-input-list>
								</div>
							</div>
							<div class="col-sm-6 col-xs-12">
								<div class="form-group">
									<label>Fax numbers</label>
									<forms-input-list ng-model="faxes" icon="fa-fax"></forms-input-list>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-6 col-xs-12">
								<div class="form-group" ng-class="{ 'has-warning': form.email.$invalid || error.code =='email' || error.code == 'emailExists' }">
									<label required>Email</label>
									<div class="input-group" style="margin-bottom:2px; padding-left: 0px">
										<span class="input-group-addon"><i class="fa fa-envelope"></i></span>
										<input type="email" name="email" class="form-control" ng-model="document.Email" placeholder="email@domain.xyz" required>
									</div>
									<p class="help-block error" ng-show=" form.email.$error.required">This field is mandatory</p>
									<p class="help-block error" ng-show="!form.email.$error.required && (form.email.$error.email || error.code =='email')">Email address format is invalid</p>
									<p class="help-block error" ng-show="error.code =='emailExists'">Email address already in use</p>
								</div>
							</div>

							<div class="col-sm-6 col-xs-12">
								<div class="form-group">
									<label>Alternate email addresses</label>
									<forms-input-list ng-model="emailsCc" icon="fa-envelope"></forms-input-list>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="panel panel-default panel-security">
					<div class="panel-body">
						<div class="row">
							<div class="col-sm-12">
								<div class="form-group">
									<div ng-class="{'alert alert-info' : !canGrantGovernment()}">
										<label>Government</label>
										<div><select class="form-control" ng-disabled="!canGrantGovernment()" ng-model="document.Government" ng-options="c.code as c.name for c in countries"></select>
										<span  class="btn btn-default btn-xs pull-right" ng-show="document.Government"  ng-click="document.Government = undefined;"> clear government </span></div>
										<small ng-if="!canGrantGovernment()" >
											Assigning Government to SCBD staff or user with a Admin role is not allowed. To grant government, remove any admin roles assigned to the user.
										</small>
									</div>
								</div>

							</div>
						</div>
						<div class="row">
							<div class="col-sm-12">
								<div class="form-group">
									<label>User Group</label>
									<div>	
										<!-- <input ng-show="false" type="text" name="userGroup" class="form-control" ng-model="document.UserGroup"> -->
										<select name="userGroup"  class="form-control" ng-disabled="document.Government" ng-model="document.UserGroup" ng-options="c.code as c.name for c in UserGroups"></select>
										<span  class="btn btn-default btn-xs pull-right" ng-show="document.UserGroup"  ng-click="document.UserGroup = undefined;"> clear user group </span>
									</div>
								</div>

							</div>
						</div>
						<div class="form-group"  ng-if="roleList.length">
							<label>Roles</label>
							<div>
								<select ng-model="self.roles" ng-options="r.roleId as r.name for r in roleList" 
									multiple="multiple" size="10" class="duallistbox" name="duallistbox_demo1[]"></select>
							</div>
						</div>
					</div>
				</div>

				<div class="panel panel-default" ng-if="document.UserID">
					<div class="panel-body">

						<div class="form-group">
							<label>User Logs</label>
							<div class="pull-right">
								<button class="btn btn-default" ng-disabled="waiting" ng-click="showLogs()">Show logs</button>
							</div>
							<table class="table table-bordered" ng-if="userActionLogs">
								<tr>
									<td>Type</td>
									<td>Requested By</td>
									<td>Requested On</td>
									<td>Action</td>
									<td>Application</td>
								</tr>
								<tr ng-repeat="action in userActionLogs">
									<td>{{action.type}}</td>
									<td>{{action.requestedByInfo.firstName}} {{action.requestedByInfo.lastName}}</td>
									<td>{{action.requestDate.substring(0, 16).replace('T', ' ')}}</td>
									<td>
										<div ng-if="action.type=='UserRoleAdditionRequest' || action.type=='UserRoleDeletionRequest'">
											<span ng-if="action.role">
												{{action.role.name}} (<code>{{action.role.code}}</code>)
												</span>
										</div>
										<div ng-if="action.type!='UserRoleAdditionRequest' && action.type!='UserRoleDeletionRequest'">
											<button class="btn btn-danger btn-xs" ng-click="showAction(action)" ng-if="!action.changes">Show action</button>
											<code ng-if="!action.changes && action.showRequest">{{action.request | json}}</code>
											<table ng-if="action.changes" class="table table-bordered">
												<tr>
													<td>Field</td>
													<td>New</td>
													<td>Old</td>
												</tr>
												<tr ng-repeat="change in action.changes">
													<td>{{change.prop}}</td>
													<td>{{change.new}}</td>
													<td>{{change.old}}</td>
												</tr>
											</table>
										</div>										
									</td>	
									<td>{{action.realm}}</td>								
								</tr>
							</table>
						</div>
					</div>
				</div>
				<div style="margin-top: 10px;">
					<recaptcha-v2></recaptcha-v2>
				</div>
				<div ng-class="{'alert alert-danger' : !canGrantGovernment() && document.Government}">
					<button type="submit" class="btn btn-primary" ng-click="save()" ng-disabled="(!canGrantGovernment() && document.Government) || !grecaptchaToken">Save</button>
					<button class="btn btn-default" ng-disabled="waiting" ng-click="cancel()">Cancel</button>
					<p ng-if="!canGrantGovernment() && document.Government">
						Assigning Government to SCBD staff or user with a Admin role is not allowed.
						<br>Please either remove Government or any Admin roles from this user's profile.
					</p>
				</div>
				
			</form>
		</div>






	</div>
</div>




<style>
	.panel-identity {
		position: relative;
		padding-top: 19px;
	}
	.panel-identity:after {
		content: "Identity";
		position: absolute;
		top: -1px;
		left: -1px;
		padding: 3px 7px;
		font-size: 12px;
		font-weight: bold;
		background-color: #f5f5f5;
		border: 1px solid #ddd;
		color: #9da0a4;
		-webkit-border-radius: 4px 0 4px 0;
		 -moz-border-radius: 4px 0 4px 0;
		      border-radius: 4px 0 4px 0;
	}
	.panel-address {
		position: relative;
		padding-top: 19px;
	}
	.panel-address:after {
		content: "Address";
		position: absolute;
		top: -1px;
		left: -1px;
		padding: 3px 7px;
		font-size: 12px;
		font-weight: bold;
		background-color: #f5f5f5;
		border: 1px solid #ddd;
		color: #9da0a4;
		-webkit-border-radius: 4px 0 4px 0;
		 -moz-border-radius: 4px 0 4px 0;
		      border-radius: 4px 0 4px 0;
	}
	.panel-coordinates {
		position: relative;
		padding-top: 19px;
	}
	.panel-coordinates:after {
		content: "Coordinates";
		position: absolute;
		top: -1px;
		left: -1px;
		padding: 3px 7px;
		font-size: 12px;
		font-weight: bold;
		background-color: #f5f5f5;
		border: 1px solid #ddd;
		color: #9da0a4;
		-webkit-border-radius: 4px 0 4px 0;
		 -moz-border-radius: 4px 0 4px 0;
		      border-radius: 4px 0 4px 0;
	}
	.panel-security {
		position: relative;
		padding-top: 19px;
	}
	.panel-security:after {
		content: "Security";
		position: absolute;
		top: -1px;
		left: -1px;
		padding: 3px 7px;
		font-size: 12px;
		font-weight: bold;
		background-color: #f5f5f5;
		border: 1px solid #ddd;
		color: #9da0a4;
		-webkit-border-radius: 4px 0 4px 0;
		 -moz-border-radius: 4px 0 4px 0;
		      border-radius: 4px 0 4px 0;
	}
	.bootstrap-duallistbox-container select {
		font-size: 14px;
		line-height: 1.428571429;
		color: #666666;
	}
</style>
