<script src="/app/views/activate.html.js"></script>
<div ng-controller="ActivateController">
		
	<div ng-show="!initialized">
		<h1>Activate your CBD account.</h1>
		<p style="display:inline-block">
			Validating activation link
			<div class="spinner">
				<div class="bounce1"></div>
				<div class="bounce2"></div>
				<div class="bounce3"></div>
			</div>
		</p>
	</div>

	<h1 ng-show="initialized">Activate your CBD account.</h1>

	<div ng-show="initialized" class="row">
		<div class="col-sm-8">

			<div class="alert alert-danger" ng-cloak ng-show="error">
				<strong>Error as occured...</strong>
				<div>{{error}}</div>
			</div>

			<p>
				<strong>You're almost done!</strong><br>
				Choose a password to access your CBD Account.
			</p>

			<p>
				Use a long password passwords with at least 10 characters. Adding numbers, symbols and mixed-case letters makes it harder for others to guess your password.
			</p>
			
			<div class="alert alert-danger" ng-cloak ng-show="error.custom">
				<strong>Error as occured...</strong>
				<div>{{error}}</div>
			</div>
			<div class="alert alert-danger" ng-cloak ng-show="error.invalid">
				<strong>Aw, Snap! The activation link appears to be invalid or expired.</strong>
				<div>If you reached this page by clicking the activation link from your welcome email, the link might be expired. To immediately obtain a new validation link by email, simply fill out the form below.</div>
			</div>
			<div ng-cloak ng-show="success">
				<div>{{success}}</div>
			</div>

			<div class="row" ng-hide="status=='hidden'||status=='loading'" >
				<div class="col-sm-6">
					<form name="form" role="form" ng-submit="actionChangePassword()">
						<div class="form-group">
							<label class="control-label" for="password">New password</label>
							<input type="password" id="password" name="password" class="form-control" ng-model="document.password" required>
							<p class="help-block error" ng-show="form.password.$invalid">This field is mandatory</p>
						</div>
						<div class="form-group">
							<label class="control-label" for="password2">New password - Confirmation</label>
							<input type="password" id="password2" class="form-control" name="password2" ng-model="document.confirmation" required>
							<p class="help-block error" ng-show="form.password2.$error.match">Passwords do not match</p>
						</div>
						<button type="submit" class="btn btn-primary" ng-disabled="form.$invalid || waiting">Submit</button>
						<div class="spinner" ng-show="waiting">
							<div class="bounce1"></div>
							<div class="bounce2"></div>
							<div class="bounce3"></div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<script src="/app/js/utilities/jquery.complexify.js"></script>
<script src="/app/shared/directives/users/password.js"></script>