<div>
	<div class="input-group" style="margin-bottom:2px; padding-left: 0px" ng-repeat="text in getTexts()">
		<span class="input-group-addon"><i class="fa {{icon}}" ></i></span>
		<input type="text" class="form-control" ng-model="text.value" ng-change="save()" placeholder="{{placeholder}}" ng-required="isRequired()">
		<span class="input-group-btn" ng-if="!$last">
			<button class="btn btn-default" ng-click="remove($index)" ng-show="!$last" style="height:36px"><i class="glyphicon glyphicon-trash"></i></button>
		</span>
	</div>
<div>