<script src="/app/views/index.html.js"></script>
<div ng-controller="IndexController">
	<div class="row">
		<div class="col-sm-8">
			<h1>Links...</h1>
			<div style="font-size:18px;margin:8px 0"><a href="https://www.cbd.int/"><strong>Convention on Biological Diversity</strong></a></div>
			<div style="font-size:18px;margin:4px 0"><a href="https://bch.cbd.int/">Central Portal of the Biosafety Clearing-House (BCH)</a></div>
			<div style="font-size:18px;margin:4px 0"><a href="https://absch.cbd.int/">Central Portal of the Access and Benefit Sharing Clearing-House (ABSCH)</a></div>
			<div style="font-size:18px;margin:4px 0"><a href="https://chm.cbd.int/">Clearing-House Mechanism (CHM)</a></div>
		</div>
		<div class="col-sm-4">
			<div class="panel panel-default">
  				<div class="panel-body">
					<h1>You are signed in !</h1>
					<dl class="dl-horizontal">
					  	<dt style="text-align:left">Name</dt><dd>{{user.name}}</dd>
					  	<dt style="text-align:left">Primary email</dt><dd>{{user.email}}</dd>
					  	<dt style="text-align:left">Phone</dt><dd>{{user.phone}}</dd>
					</dl>
					<button class="btn btn-info" ng-click="actionSignOut()">Sign out</button>
				</div>
			</div>
		</div>
	</div>	
</div>