<script src="/app/views/index.html.js"></script>
<div ng-controller="IndexController">
	<div class="row">
		<div class="col-sm-8">
			<h1>Links to the CBD website and Clearing-Houses </h1>
			<div style="font-size:18px;margin:8px 0; padding-bottom:20px;"><a href="https://www.cbd.int/">Convention on Biological Diversity<br><span class="small" style="color:#4f9fcf;">www.cbd.int</span></a></div>
			<div style="font-size:18px;margin:4px 0; padding-bottom:20px;"><a href="https://bch.cbd.int/">The Biosafety Clearing-House (BCH)<br><span class="small" style="color:#4f9fcf;">bch.cbd.int</span></a></div>
			<div style="font-size:18px;margin:4px 0; padding-bottom:20px;"><a href="https://absch.cbd.int/">The Access and Benefit Sharing Clearing-House (ABSCH)<br><span class="small" style="color:#4f9fcf;">absch.cbd.int</span></a></div>
			<div style="font-size:18px;margin:4px 0; padding-bottom:20px;"><a href="https://chm.cbd.int/">The Clearing-House Mechanism (CHM)<br><span class="small" style="color:#4f9fcf;">chm.cbd.int</span></a></div>
		</div>
		<div class="col-sm-4">
			<div class="panel panel-default">
  				<div class="panel-body">
					<h1>You are signed in !</h1>
					<dl class="dl-horizontal">
					  	<dt style="text-align:left">Name</dt><dd>{{user.name}}</dd>
					  	<dt style="text-align:left">Primary email</dt><dd>{{user.email}}</dd>
					  	<dt style="text-align:left">Phone</dt><dd>{{user.phone}}</dd>
					</dl>
					<button class="btn btn-info" ng-click="actionSignOut()">Sign out</button>
				</div>
			</div>
		</div>
	</div>
</div>
