<script src="/app/views/password-reset-sent.html.js"></script>
<div ng-controller="PasswordResetSentController">
	<div class="row">
		<div class="col-sm-10">
			<h1>Password reset.</h1>

			<p>
				<strong>Check your inbox.</strong><br>
				We've sent you an email with a password-reset link.
			</p>

			<p>In order to reset the password of your CBD account, click the password-reset link in the email just sent to you.</p>
			<p>Check your inbox for the email from the <span style="color:#0062A3">Secretariat of the Convention on Biological Diversity (cbd-accounts@cbd.int)</span> with the subject <span style="color:#0062A3">Request to reset your CBD account password</span>. In the email, click on the password-reset link. The link will launch a web browser and open to the CBD website.</p>

			<div style="margin:30px 0">
				<h5 style="color:#111">Not able to locate the welcome email?</h5>

				<p>Please note, it can take up to an hour for you to receive the email. If you are unable to locate the email in your inbox, check your spam/junk folder. If you still can’t locate the email in your inbox or spam/junk folders, click on the button below for us to resend the email.</p>

				<a href="/password/reset" class="btn btn-warning">Resend the email</a>
			</div>

		</div>
	</div>
</div>