<div>
	<style>
	.overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0,0,0,0.5); /*dim the background*/
}
</style>
    <div class="row">
        <div class="col-xs-12">
            <h1>Create your CBD Account.</h1>
        </div>
    </div>
	<div class="row">
		<div class="col-md-5 col-sm-6 col-xs-12">

			<div ng-show="status=='loading'"><em>Loading...</em></div>

			<div ng-hide="status=='hidden'||status=='loading'" style="margin-top:1em">
				<form name="form" role="form" ng-submit="onPostSave()">

					<div class="panel panel-default panel-identity">
						<div class="panel-body" >
							 <div class="overlay" ng-show="isLoading">
								 <i class="fa fa-spin fa-spinner fa-5x" style="margin:40%" />
							 </div>
							<div class="row">
								<div class="col-xs-12">
									<div class="alert alert-danger" ng-cloak ng-show="error">
										<strong>Error!</strong>
										<div>{{error.message}}</div>
										<div ng-if="error.fields && error.fields.length>0">Fields :
											<ul >
												<li ng-repeat="field in error.fields">{{field}}</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="clearfix visible-xs"></div>
								<div class="col-lg-6 col-md-12">
									<div class="form-group" ng-class="{ 'has-warning': form.firstName.$invalid }">
										<label for="firstName">First name</label>
										<input type="text" class="form-control" name="firstName" ng-model="document.FirstName" required>
										<p class="help-block error" ng-show="form.firstName.$invalid">This field is mandatory</p>
									</div>
								</div>
								<div class="col-lg-6 col-md-12">
									<div class="form-group" ng-class="{ 'has-warning': form.lastName.$invalid }">
										<label for="lastName">Last name</label>
										<input type="text" class="form-control" name="lastName" ng-model="document.LastName" required>
										<p class="help-block error" ng-show="form.lastName.$invalid">This field is mandatory</p>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-xs-12">
									<div class="form-group" ng-class="{ 'has-warning': form.organization.$invalid }">
										<label for="organization">Organization</label>
										<input type="text" class="form-control" name="organization" ng-model="document.Organization" required>
										<p class="help-block error" ng-show="form.organization.$invalid">This field is mandatory</p>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-xs-12">
									<div class="form-group" ng-class="{ 'has-warning': form.email.$invalid }">
										<label>Email</label>
										<div class="input-group" style="margin-bottom:2px; padding-left: 0px">
											<span class="input-group-addon"><i class="fa fa-envelope"></i></span>
											<input type="email" name="email" class="form-control" ng-model="document.Email" placeholder="email@domain.xyz" required validate-email>
										</div>
										<p class="help-block error" ng-show="form.email.$invalid && !form.email.$error.email">This field is mandatory</p>
										<p class="help-block error" ng-show="form.email.$error.email">Email is invalid or incomplete</p>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-xs-12">
									<div class="form-group" ng-class="{ 'has-warning': form.password.$invalid }">
										<label>Password</label>
										<div class="input-group" style="margin-bottom:2px; padding-left: 0px">
											<span class="input-group-addon"><i class="fa fa-key"></i></span>
											<input type="{{passwordType}}" name="password" class="form-control" ng-model="document.Password" required >
											<span class="input-group-addon"  style="cursor:pointer"
												ng-click="togglePassword()">
												<i class="fa" ng-class="{'fa-eye': passwordType=='password','fa-eye-slash' : passwordType=='text'}"></i>
											</span>
										</div>
										<p class="help-block error" ng-show="form.password.$error.required">This field is mandatory</p>
										<p class="help-block error" ng-show="form.password.$error.rules && !form.password.$error.required">Password does not satisfy the current policy requirements</p>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-xs-12">
									<p>By signing up, you agree to our <a href="http://www.cbd.int/terms" target="_blank">Terms of Use</a> and confirm that you have read our <a href="http://www.cbd.int/privacy" target="_blank">Privacy Policy</a>.</p>

                                    <div vc-recaptcha ng-model="captcha.challenge" size="normal" key="'6Lfa5yAUAAAAAOZ_mTlRAMM06lABal8C2mU62Az9'" on-create="captcha.widgetId = widgetId"></div>
									<button type="submit" class="btn btn-primary">Submit</button>
									<button type="button" class="btn btn-default" ng-click="$root.returnUrl.navigate('/signin')">Cancel</button>

								</div>
							</div>
						</div>
					</div>

				</form>
			</div>
		</div>

        <div class="col-md-6 col-sm-6 col-xs-12">

            <div class="hidden-xs">
                <h3>One single account.</h3>

                <p>
    				Just one account gets you into everything from Event Registration to Clearing-Houses.
    			</p>

    			<p>
    				After you create your CBD Account, we'll send you an email to activate your account. Then, you can start using any CBD-maintained services right away.
    			</p>

            </div>

            <password-rules ng-if="document.Password" password="$parent.document.Password" is-valid="$parent.passwordValid"></password-rules>

            <p> Already have an account? <a ng-click="$root.returnUrl.navigate('/signin')" href="#">Sing In</a></p>

        </div>
	</div>
	<style>
		.panel-identity {
			position: relative;
			padding-top: 19px;
		}
		.panel-identity:after {
			content: "Identity";
			position: absolute;
			top: -1px;
			left: -1px;
			padding: 3px 7px;
			font-size: 12px;
			font-weight: bold;
			background-color: #f5f5f5;
			border: 1px solid #ddd;
			color: #9da0a4;
			-webkit-border-radius: 4px 0 4px 0;
			 -moz-border-radius: 4px 0 4px 0;
			      border-radius: 4px 0 4px 0;
		}
		.panel-address {
			position: relative;
			padding-top: 19px;
		}
		.panel-address:after {
			content: "Address";
			position: absolute;
			top: -1px;
			left: -1px;
			padding: 3px 7px;
			font-size: 12px;
			font-weight: bold;
			background-color: #f5f5f5;
			border: 1px solid #ddd;
			color: #9da0a4;
			-webkit-border-radius: 4px 0 4px 0;
			 -moz-border-radius: 4px 0 4px 0;
			      border-radius: 4px 0 4px 0;
		}
		.panel-coordinates {
			position: relative;
			padding-top: 19px;
		}
		.panel-coordinates:after {
			content: "Coordinates";
			position: absolute;
			top: -1px;
			left: -1px;
			padding: 3px 7px;
			font-size: 12px;
			font-weight: bold;
			background-color: #f5f5f5;
			border: 1px solid #ddd;
			color: #9da0a4;
			-webkit-border-radius: 4px 0 4px 0;
			 -moz-border-radius: 4px 0 4px 0;
			      border-radius: 4px 0 4px 0;
		}
		.panel-security {
			position: relative;
			padding-top: 19px;
		}
		.panel-security:after {
			content: "Security";
			position: absolute;
			top: -1px;
			left: -1px;
			padding: 3px 7px;
			font-size: 12px;
			font-weight: bold;
			background-color: #f5f5f5;
			border: 1px solid #ddd;
			color: #9da0a4;
			-webkit-border-radius: 4px 0 4px 0;
			 -moz-border-radius: 4px 0 4px 0;
			      border-radius: 4px 0 4px 0;
		}
		.bootstrap-duallistbox-container select {
			font-size: 14px;
			line-height: 1.428571429;
			color: #666666;
		}
	</style>
</div>
<style>
	.has-error .fa-validate:before {
		content: "\f069";
		color: #a94442;
	}
	.has-warning .fa-validate:before {
		content: "\f0a5";
		color: #c09853;
	}
	.has-success .fa-validate:before {
		content: "\f00c";
		color: #468847;
	}
	.help-block.error {
		text-transform: uppercase;
		font-size:10px;
		font-weight: bold;
		margin-bottom: -10px;
	}
</style>
