<div>
	<div class="row">
		<div class="col-sm-10">
			<h1>Activating your CBD account.</h1>

			<p>
				<strong>Check your inbox.</strong><br>
				We've sent you a welcome email with a validation link.
			</p>

			<p>Before you can fully use your new CBD account, you must activate your account by clicking a activation link in this welcome email sent to you.</p>
			<p>Check your inbox for the welcome email from the <span style="color:#0062A3">Secretariat of the Convention on Biological Diversity (cbd-accounts@cbd.int)</span> with the subject <span style="color:#0062A3">Welcome to the CBD online network!</span>. In the email, click on the activation link to validate your email address, and complete the registration. The link will launch a web browser and open to the CBD website.</p>

			<div style="margin:30px 0">
				<h5 style="color:#111">Not able to locate the welcome email?</h5>

				<p>Please note, it can take up to an hour upon signing up for you to receive your welcome email. If you are unable to locate the welcome email in your inbox, check your spam/junk folder. If you still can’t locate the welcome email in your inbox or spam/junk folders, click on the button below for us to resend the welcome email.</p>

				<a ng-click="$root.returnUrl.navigate('/activate/resend')" href="#" class="btn btn-warning">Resend the welcome email</a>
				<a ng-click="$root.returnUrl.goBack(referrer||'/')" href="#" class="btn btn-success">Continue without activation</a>
			</div>

		</div>
	</div>
</div>